<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BowlingAlleyDb"
			 connectionString="Data Source=localhost;Initial Catalog=BowlingAlleyDb;Integrated Security=SSPI;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>